html{
    font-family: 'Times New Roman', Times, serif;
}

.bg-roxo{
    background-color: #563d7c;
}

<<<<<<< HEAD
.footer {
    background-color: #ae7ef7;

  }

  .text-muted {
    color: #ffffff!important;
}
  

=======
.imagem{
    width: 430px;
    height: 430px;
}
>>>>>>> fffea785021a366cd9d2fb0643c60ad2b348518e

